.hidden {
    display: none;
} 

body {
    position: relative;
    margin: 0;
    background: url(../images/background.jpg) no-repeat #26303A;
    background-size: cover;
    background-attachment: fixed;
    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: lighten($link-color, 10%);
        }
    }
}

#global-header,
#global-footer {
    background: $dusk;
    padding: 10px 16px;
    h1 {
        margin: 0;
        font-size: 20px;
        line-height: 20px;
        color: mix($dusk, white, 35%);
        text-transform: uppercase;
        padding: 9px 0 8px 45px;
        background: url("../images/logo.png") left center no-repeat;
        background-size: 37px 37px;
    }
}

.bar {
    $w: 30px;
    width: $w;
    height: 2px;
    background: rgba(white, .4);
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -($w / 2);
    box-shadow: 0 1px 0 rgba(white, .2) inset, 0 1px 2px rgba(black, .2);
}

#global-header {
    //margin-bottom: 40px;
    position: relative;
    .jump-to-legend {
        $gutter: 10px;
        top: $gutter;
        right: $gutter;
        bottom: $gutter;
        width: 46px;
        display: block;
        // background: rgba(black, .3);q
        position: absolute;
        border-radius: 4px;
        @media (min-width: 768px) {
            display: none;
        }
        span {
            display: block;
            text-indent: -9999px;
            top: 17px;
            @extend .bar;
            &:before,
            &:after {
                @extend .bar;
                position: absolute;
                content: " ";
            }
            &:before {
                top: 7px;
            }
            &:after {
                bottom: 7px;
            }
        }
    }
}

#global-footer {
    clear: both;
    p {
        font-size: 11px;
        margin: 0;
        text-align: center;
    }
}

.layout {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
    @media (min-width: 768px) {
        padding: 0 35px;
        .primary-column {
            //@include span-columns(8 of 10);
            //@include omega;
            float: right;
            > div {
                padding-top: 2px;
            }

        }
        .secondary-column {
            //@include span-columns(2 of 10);
            float: left;
        }
    }
}

.item {
    padding: 30px 0;
    margin: 0;
    & + & {
        border-top: 1px solid rgba(white, .1);
    }
    .details {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(black, 0), rgba(black, 1) 90% );
        padding: 70px 20px 20px 20px;
        border-bottom-left-radius: $border-radius-large;
        border-bottom-right-radius: $border-radius-large;
        text-shadow: 0 1px 1px rgba(black, .5);
        z-index: 2;
        .icon {
            $size: 55px;
            width: $size;
            height: $size;
            margin-right: $base-margin;
            background-color: $blue;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 80%;
            border-radius: 100px;
            float: left;
        }
        .name {
            margin-bottom: 0;
            margin-top: 0px;
        }
        .description {
            font-style: 15px;
            font-weight: $medium;
            margin: 0;
        }
    }
    .zoom {
        position: absolute;
        z-index: 3;
        font-size: 17px;
        width: 100%;
        top: 10px;
        text-align: center;
        text-shadow: 0 1px 4px rgba(black, .4);
        opacity: .6;
    }

    .visual {
        position: relative;
        box-shadow: 0 1px 0 rgba(white, .05);
        border-radius: $border-radius-large;
        img {
            border-radius: $border-radius-large;
            display: block;
        }
        img.scope-ads {
            width: 100%;
        }
        img.scope-hip {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            width: 100%;
            transition: opacity .3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.stats {
    $push: 80px;
    padding: 0;
    margin: 0;
    clear: both;
    > li:first-child {
        margin-top: 20px;
    }
    li {
        @include clearfix;
        list-style: none;
        margin: 0 0 4px;
        font-weight: $medium;
        padding-left: $push;
    }
    .label {
        font-size: 100%;
        text-align: left;
        padding: 0;
        display: block;
        width: $push;
        margin-left: -($push);
        float: left;
    }
    .graph {
        display: inline-block;
        margin-right: 8px;
    }
    .amount {
        display: inline-block;
        font-size: 11px;
        margin-top: -4px;
        vertical-align: middle;
    }
}

.graph {
    background: rgba(black, .5);
    // box-shadow: 0 1px 3px black inset, 0 1px 0 rgba(white, .05);
    border-radius: 2px;
    height: 16px;
    width: 170px;
    position: relative;
    float: left;
    &:before {
        $pull: 0;
        width: 0px;
        top: $pull;
        bottom: $pull;
        position: absolute;
        left: 50%;
        content: " ";
        background: rgba(white, .4);
    }
    .plot {
        // min-width: 40px;
        position: absolute;
        top: 0;
        bottom: 0;
        background: $green;
        border: 0px solid rgba(black, .3) !important;
        &.negative {
            right: 50%;
            background: rgba($red, .8);
            border-right-width: 1px;
        }
        &.positive {
            left: 50%;
            background: rgba($green, .4);
            border-left-width: 1px;
        }
    }
}

.legend {

    .filters {
        margin-bottom: 28px;
    }

    margin-top: 30px;
    max-height: calc(100vh - 120px);
    overflow: auto;

    &.affix {
        top: 0px;
    }

    h4, h5 {
        border-bottom: $border;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 0 5px;
    }

    h5 {
        border-bottom: 0;
    }

    > .nav {
        margin: 0;
        .nav {
            margin: 0 0 0 6px;
        }
    }

    // All Links
    .nav-link {
        padding: 0;
        background: none !important;
        color: mix(white, $slate, 40%);
        margin-bottom: 4px;
    }

    // Active link
    .active > a {
        font-weight: bold;
        color: white;
    }

    ul ul { 
        display: none; 
        margin: 0 0 0 8px;
    }

    li {
        margin: 0;
    }

    .active ul {
        display: block;
    }

    ul {
        margin: 0 0 20px;
        padding: 0;
        li {
            list-style: none;
            margin: 0 0 5px;
            font-size: 12px;            
        }
    }
}