body {
    font-family: $base-font-family;
    color: $base-color;
    line-height: $base-line-height;
}

p,
li,
dd,
dt,
address,
article {
    font-size: $base-font-size;
    margin: 0 0 $base-margin;
}

h1, h2, h3, h4, h5 {
    color: $heading-color;
}
