// TYPOGRAPHY
// ----------

$base-color:                       #ACB2B7;
$base-background:                  #353A44;

$base-font-size:                   14px;
$base-font-family:                 -apple-system, Helvetica, Arial;
$base-font-family:                 -apple-system, Helvetica, Arial;
$base-line-height:                 1.4;

$heading-color:                    lighten($base-color, 20%);
$heading-line-height:              1.4;
$heading-min-font-size:            15px;
$heading-max-font-size:            40px;
