.scope-list {
    //@include make-row();
    .scope {
        // Medium Screens
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            width: 46%;
            margin-right: 4%;
            float: left;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                clear: left;
            }
        }

        // Large Screens
        @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
            width: 31%;
            margin-right: 3.5%;
            float: left;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(3n+1) {
                clear: left;
            }
        }

        // X-Large Screens
        @media (min-width: $screen-xl-min) {
            width: 23%;
            margin-right: 2.666666666667%;
            float: left;
            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }

}
