body {
    position: relative;
    margin: 0;
    background-color: darken($dusk, 10%);
    background: darken($dusk, 10%) url("../../resources/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: -1;
        background: linear-gradient(black, rgba(black, 0));
    }
    .container {
        z-index: 2;
    }
    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: lighten($link-color, 10%);
        }
    }
    p {
        color: #818181;
    }
}

// @media (max-width: 767px) {
//     .row {
//         @include flexbox;
//         @include flex-direction(column);
//         .secondary-column {
//             @include order(2);
//         }
//         .primary-column {
//             @include order(1);
//         }
//     }
// }
//
// .item {
//     padding: 0 0 30px;
//     margin: 0;
//     @media (min-width: 768px) {
//         padding: 70px 0;
//         & + & {
//             border-top: 1px solid rgba(white, .1);
//         }
//     }
//
//     .notes {
//         display: none;
//         position: absolute;
//         z-index: 3;
//         font-size: 11px;
//         background: rgba($dusk, .75);
//         top: 10px;
//         right: 10px;
//         text-align: center;
//         padding: 4px 10px;
//         color: mix($dusk, #FFF, 30%);
//         border-radius: 3px;
//         font-weight: 600;
//         letter-spacing: 1px;
//         text-transform: uppercase;
//         @media (min-width: 768px) {
//             // display: block;
//         }
//     }
//
//     .zoom {
//         position: absolute;
//         z-index: 3;
//         font-size: 14px;
//         width: 100%;
//         top: 7px;
//         text-align: center;
//         text-shadow: 0 1px 4px rgba(black, .4);
//         opacity: .75;
//         @media (min-width: 600px) {
//             font-size: 16px;
//         }
//     }
//
//     .visual {
//         position: relative;
//         padding-top: 56.25%; // 16:9
//         background-color: rgba(white, .1);
//
//         @media (min-width: 768px) {
//             border-radius: $border-radius-large;
//             box-shadow: 0 1px 0 rgba(white, .05);
//             img {
//                 border-radius: $border-radius-large;
//             }
//         }
//         img {
//             display: block;
//             position: absolute;
//             z-index: 1;
//             left: 0;
//             top: 0;
//             right: 0;
//             bottom: 0;
//             width: 100%;
//         }
//         img.scope-ads {
//             opacity: 1
//         }
//         img.scope-hip {
//             opacity: 0;
//             transition: opacity .3s;
//             &:hover {
//                 opacity: 1;
//             }
//         }
//     }
// }
//
// .details {
//     background: rgba(black, .5);
//     padding: 12px;
//     @media (min-width: 600px) {
//         padding: 18px;
//     }
//     @media (min-width: 768px) {
//         padding: 40px 12px 12px 12px;
//         position: absolute;
//         bottom: -1px;
//         left: 0;
//         right: 0;
//         background: linear-gradient(rgba(black, 0), rgba(black, 1) 90% );
//         border-bottom-left-radius: $border-radius-large;
//         border-bottom-right-radius: $border-radius-large;
//         text-shadow: 0 1px 1px rgba(black, .5);
//         z-index: 2;
//         padding: 70px 20px 20px 20px;
//     }
//     .icon {
//         display: none;
//         @media (min-width: 375px) {
//             display: block;
//             background-color: $blue;
//             background-position: center center;
//             background-repeat: no-repeat;
//             background-size: 80%;
//             border-radius: 100px;
//             float: left;
//             $size: 30px;
//             width: $size;
//             height: $size;
//             margin-right: 10px;
//         }
//         .st-exotic & {
//             border-radius: 0;
//             background-size: 100%;
//             border: 2px solid white;
//             box-shadow: 0 1px 5px rgba(black,.2);
//             background-color: $gold;
//         }
//         @media (min-width: 600px) {
//             $size: 45px;
//             width: $size;
//             height: $size;
//             margin-right: $base-margin;
//         }
//         @media (min-width: 768px) {
//             $size: 55px;
//             width: $size;
//             height: $size;
//             margin-right: $base-margin;
//         }
//     }
//     .name {
//         font-size: 15px;
//         margin: 0 0 2px;
//     }
//     .description {
//         font-size: 9px;
//         font-weight: $medium;
//         margin: 0;
//     }
//     @media (min-width: 600px) {
//         .name {
//             font-size: 20px;
//         }
//         .description {
//             font-size: 13px;
//         }
//     }
//     @media (min-width: 768px) {
//         .name {
//             font-size: 24px;
//         }
//         .description {
//             font-size: 14px;
//         }
//     }
// }
//
// .stats {
//     $push: 80px;
//     padding: 0;
//     margin: 0;
//     clear: both;
//     > li:first-child {
//         margin-top: 20px;
//     }
//     li {
//         @include clearfix;
//         list-style: none;
//         margin: 0 0 4px;
//         font-weight: $medium;
//         padding-left: $push;
//     }
//     .label {
//         font-size: 100%;
//         text-align: left;
//         padding: 0;
//         display: block;
//         width: $push;
//         margin-left: -($push);
//         float: left;
//     }
//     .graph {
//         display: inline-block;
//         margin-right: 8px;
//     }
//     .amount {
//         display: inline-block;
//         font-size: 11px;
//         margin-top: -4px;
//         vertical-align: middle;
//     }
// }
//
// .graph {
//     background: rgba(black, .5);
//     // box-shadow: 0 1px 3px black inset, 0 1px 0 rgba(white, .05);
//     border-radius: 2px;
//     height: 16px;
//     width: 170px;
//     position: relative;
//     float: left;
//     overflow: hidden;
//     &:before {
//         $pull: 0;
//         width: 0px;
//         top: $pull;
//         bottom: $pull;
//         position: absolute;
//         left: 50%;
//         content: " ";
//         background: rgba(white, .4);
//     }
//     .plot {
//         // min-width: 40px;
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         background: $green;
//         border: 0px solid rgba(black, .3) !important;
//         &.negative {
//             right: 50%;
//             background: rgba($red, .8);
//             border-right-width: 1px;
//         }
//         &.positive {
//             left: 50%;
//             background: rgba($green, .4);
//             border-left-width: 1px;
//         }
//     }
// }
//
// .legend {
//     @media (max-width: 767px) {
//         margin-top: 30px;
//         padding-top: 57px;
//         position: static !important;
//     }
//     @media (min-width: 768px) {
//         top: 57px + 30;
//         position: fixed;
//         max-height: calc(100vh - 60px - 50px);
//         overflow: auto;
//     }
//
//     .filters {
//         margin-bottom: 28px;
//     }
//
//
//     h4, h5 {
//         border-bottom: $border;
//         font-size: 12px;
//         text-transform: uppercase;
//         margin: 0 0 5px;
//     }
//
//     h5 {
//         border-bottom: 0;
//     }
//
//     > .nav {
//         margin: 0;
//         .nav {
//             margin: 0 0 0 6px;
//         }
//     }
//
//     // All Links
//     .nav-link {
//         padding: 0;
//         background: none !important;
//         color: mix(white, $slate, 40%);
//         margin-bottom: 4px;
//     }
//
//     // Active link
//     .active > a {
//         font-weight: bold;
//         color: white;
//     }
//
//     ul ul {
//         display: none;
//         margin: 0 0 0 8px;
//     }
//
//     li {
//         margin: 0;
//     }
//
//     .active ul {
//         display: block;
//     }
//
//     ul {
//         margin: 0 0 20px;
//         padding: 0;
//         li {
//             list-style: none;
//             margin: 0 0 5px;
//             font-size: 12px;
//         }
//     }
// }
