body {
    position: relative;
    margin: 0;
    background-color: darken($dusk, 10%);
    background: darken($dusk, 10%) url("../../resources/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    &:after {
        content: " ";
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        height: 80vh;
        z-index: 0;
        background: linear-gradient(black, rgba(black, 0));
    }
    .container {
        z-index: 1;
        position: relative;
    }
    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: lighten($link-color, 10%);
        }
    }
    p {
        color: #818181;
    }
}
